<table class="table table-sm">
    <tr *ngFor="let tarjeta of tarjetaService.list" style="align-items: center;">
        <td>{{ tarjeta.titular }}</td>
        <td>{{ tarjeta.numeroTarjeta }}</td>
        <td>{{ tarjeta.fechaExpiracion }}</td>
        <td>
            <button class="btn btn-default" type="button"(click)="editar(tarjeta);" style="cursor: pointer;">
                <i class="far fa-edit fa-lg text-info"  style="cursor: pointer;"></i>
            </button>
        </td>
        <td>
            <button class="btn btn-default" type="button" (click)="eliminarTarjeta(tarjeta.id);" style="cursor: pointer;">
                <i class="far fa-trash-alt fa-lg text-danger"></i>
            </button>
        </td>
    </tr>
</table>
